header.header {
    background-color: black;
    color: orange;
    text-align: center;
}
img.foto1{
   
    text-align: left;
}
img.foto2{
    text-align: center;
}
img.foto3{
    text-align: right;
}